/* loader.css */
.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
    width: 100vw;  /* Full viewport width */
    position: fixed; /* Stay in place while loading */
    top: 0;
    left: 0;
    background-color: white; /* Optional: You can set the background color */
    z-index: 9999; /* Ensure the loader stays on top */
  }
  
  .loader-gif {
    width: 150px; /* Adjust the size of the gif */
    height: auto;
  }
  